header {
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100vw;
}

h1 {
  color: #0a004e;
  font-size: 1.5rem;
}

.logo {
  width: 7em;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.2rem;
  }
}
